body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
.cards_div {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}
img {
  width: 200px;
}
.blocks {
  border: 2px solid darkblue;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
}

@media screen and (max-width: 1024px) {
  .cards_div {
    flex-direction: column;
  }
  .blocks {
    margin: 30px
  }
}*/

.app {
  display: flex;
  justify-content: center;
}
.resultP {
  font-size: 100px;
  margin-left: 100px;
}
.butt {
  padding: 20px 30px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 20px;
  font-family: sans-serif;
}
.counterClass {
  justify-content: center;
}
.todoTasksList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px;
}
.task {
  border: 2px solid royalblue;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  background-color: royalblue;
  color: aliceblue;
  font-family: "Arial Unicode", sans-serif;
  font-weight: bold;
}
.todoInput {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.todoInput input {
  border: 1px solid royalblue;
  border-radius: 10px;
  padding: 20px;
}
.todoInput button {
  margin: 20px;
  padding: 20px;
  border: 1px solid royalblue;
  border-radius: 10px;
}
.addInput:hover {
  background-color: royalblue;
  color: aliceblue;
}
.resetInput:hover {
  background-color: firebrick;
}
.taskRemoveButton {
  margin: 20px;
  padding: 20px;
  border: 1px solid royalblue;
  border-radius: 10px;
  background-color: firebrick;
}
.taskRemoveButton:hover {
  background-color: aliceblue;
}
.taskP {
  display: flex;
  justify-content: center;
}
.removeButtonDiv {
  text-align: center;
}


